@{
    ViewData["Title"] = "Forgot Password";
}


<div class="login-reg-back">
    <div class="container d-flex justify-content-center align-items-center  mt-xxl-5 pt-xxl-5">
        <div class="row mx-auto">
            <div class="col-md-8 ">
                <div class="card text-center bg-dark text-light login-reg-card">
                    <div class="p-3 border-bottom">
                        <h3>Forgot Password</h3>
                    </div>
                    <div class="p-3 px-4 py-4 border-bottom">
                        <p>Lost your password? Please enter your email address. You will receive a link to create a new password via email.</p>
                        <input type="email" class="form-control mb-2 mt-xxl-4" placeholder="email" />
                        <div class="d-grid mt-xxl-3 col-12 mx-auto">
                            <a class="btn btn-lg btn-block btn-warning fw-bold mt-xxl-4">Reset Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>