@*
*@
@{
    ViewData["Title"] = "Register";
}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card text-start bg-gradient bg-dark text-light" style="width:50rem;">
        <div class="p-3 border-bottom">
            <h3 class="pacifico">Register to Bingol</h3>
        </div>
        <div class="p-3 px-4 py-4 border-bottom">
            <div class="row">
                <div class="col">
                    <label class="form-label mt-4">First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" />
                </div>
                <div class="col">
                    <label class="form-label mt-4">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="form-label mt-4">Email Address</label>
                    <input type="email" class="form-control" placeholder="Email Address" />
                </div>
                <div class="col">
                    <label class="form-label mt-4">Phone Number</label>
                    <input type="tel" class="form-control" placeholder="Phone Number" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label mt-4">City</label>
                    <input class="form-control" type="text" placeholder="City" aria-label="City">
                </div>
                <div class="col">
                    <label class="form-label mt-4">State</label>
                    <input class="form-control" type="text" placeholder="State" aria-label="State">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label mt-4">Zip</label>
                    <input class="form-control" type="text" placeholder="Zip" aria-label="Zip">
                </div>
                <div class="col">
                    <label class="form-label mt-4">Country</label>
                    <input class="form-control" type="text" placeholder="Country" aria-label="Country">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label mt-4">Billing Address</label>
                    <input class="form-control" type="text" placeholder="Billing Address" aria-label="Billing Address">
                </div>
                <div class="col">
                    <label class="form-label mt-4">Shipping Address</label>
                    <input class="form-control" type="text" placeholder="Shipping Address" aria-label="Shipping Address">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label mt-4">Password</label>
                    <input type="password" class="form-control pass" placeholder="Password" />
                    <p class="fst-italic text-danger pass-warning">Password Must be above 6 letters</p>
                </div>
                <div class="col">
                    <label class="form-label mt-4">Confirm Password</label>
                    <input type="password" class="form-control confirm-pass" placeholder="Confirm Password" />
                    <p class="fst-italic text-danger confirm-pass-warning">Password not matched. Check again!</p>
                </div>
            </div>
            <div class="d-grid mt-3 col-12 mx-auto">
                <button class="btn btn-lg btn-block btn-warning">Register</button>
            </div>
        </div>
        <div class="d-grid mt-3 col-8 p-4 mx-auto">
            <a class="btn btn-danger" asp-controller="Auth" asp-action="Index">Already have an account?</a>
        </div>
    </div>
</div>
