<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Bingol</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap4-toggle.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/Chart.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <h2>BINGOL</h2>
                </a>
                <form class="form-inline hidder">
                    <div class="input-group search-div">
                        <input class="form-control searchbar" type="search" placeholder="I'm Searching for" id="search-input">
                        <span class="input-group-append s-icon">
                            <a class="text-dark" asp-controller="Home">
                                <i class="fas fa-search"></i>
                            </a>
                        </span>
                    </div>
                </form>
                <div class="d-inline-flex">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Index">
                        <i class="fas fa-user"></i>
                    </a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-heart"></i>
                    </a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
                        <i class="fas fa-cart-plus"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Bingol - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap4-toggle.min.js"></script>
    <script src="~/lib/bootstrap/Chart.bundle.min.js"></script>
    <script src="~/lib/bootstrap/owl.carousel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>