<div class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light container bg-dark  d-flex justify-content-between align-items-center">
        <a class="navbar-brand cat-navbar-brand fs-3 text-warning" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
        <div>
            <a class="nav-item dropdown-toggle text-warning fs-5 me-3 text-decoration-none" id="Clothes" href="#Clothes" data-bs-toggle="dropdown" aria-expanded="false">
                Clothes
            </a>
            <div class="dropdown-menu container-fluid overflow-hidden p-5 bg-dark text-white" aria-labelledby="Clothes">
                <div class="row">
                    <div class="col-md-3 ">
                        <h3>Torso</h3>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                    </div>
                    <div class="col-md-3 ">
                        <h3>Pants</h3>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                    </div>
                    <div class="col-md-3 ">
                        <h3>Footwear</h3>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                    </div>
                    <div class="col-md-3 ">
                        <h6>Trending Product</h6>
                        <img src="~/images/bertelli.jpg" alt="bertelli" width="200" height="200" />
                    </div>
                </div>
            </div>





            <a class="nav-item dropdown-toggle fs-5 me-3 text-warning text-decoration-none" id="Electronics" href="#Electronics" data-bs-toggle="dropdown" aria-expanded="false">
                Electronics
            </a>
            <div class="dropdown-menu container-fluid overflow-hidden p-5 bg-dark text-white" aria-labelledby="Electronics">
                <div class="row">
                    <div class="col-md-3 ">
                        <h3>Laptops</h3>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                    </div>
                    <div class="col-md-3 ">
                        <h3>Mobiles</h3>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                    </div>
                    <div class="col-md-3 ">
                        <h3>Accessories</h3>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                    </div>
                    <div class="col-md-3 ">
                        <h6>Trending Product</h6>
                        <img src="~/images/bertelli.jpg" alt="bertelli" width="200" height="200" />
                    </div>
                </div>
            </div>



            <a class="nav-item dropdown-toggle text-warning fs-5 me-3 text-decoration-none" id="Watches" href="#Watches" data-bs-toggle="dropdown" aria-expanded="false">
                Watches
            </a>
            <div class="dropdown-menu container-fluid overflow-hidden p-5 bg-dark text-white" aria-labelledby="Watches">
                <div class="row">
                    <div class="col-md-3 ">
                        <h3>For Gents</h3>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                    </div>
                    <div class="col-md-3 ">
                        <h3>For Ladies</h3>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                    </div>
                    <div class="col-md-3 ">
                        <h3>For Kids</h3>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                        <a href="#" class="text-white d-block text-decoration-none">Link 1</a>
                    </div>
                    <div class="col-md-3 ">
                        <h6>Trending Product</h6>
                        <img src="~/images/bertelli.jpg" alt="bertelli" width="200" height="200" />
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>