@{
    ViewData["Title"] = "MY ACCOUNT";
}

<div class="container-fluid navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <button class="navbar-toggler bg-dark d-md-none collapsed d-grid text-center w-100" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
            <div class="position-sticky pt-3" id="v-pills-tab" role="tablist">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-warning active" aria-current="page" id="v-pills-dashboard-tab" data-bs-toggle="pill" href="#v-pills-dashboard" role="tab" aria-controls="v-pills-dashboard" aria-selected="true">
                            <span class="fa fa-chart-line"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" id="v-pills-orders-tab" data-bs-toggle="pill" href="#v-pills-orders" role="tab" aria-controls="v-pills-orders" aria-selected="false">
                            <span class="fa fa-archive"></span>
                            Orders  <span class="badge bg-danger">9</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" id="v-pills-addresses-tab" data-bs-toggle="pill" href="#v-pills-addresses" role="tab" aria-controls="v-pills-addresses" aria-selected="false">
                            <span class="fa fa-address-book"></span>
                            Addresses
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" id="v-pills-account-tab" data-bs-toggle="pill" href="#v-pills-account" role="tab" aria-controls="v-pills-account" aria-selected="false">
                            <span class="fa fa-user"></span>
                            Account Details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" id="v-pills-wishlist-tab" data-bs-toggle="pill" href="#v-pills-wishlist" role="tab" aria-controls="v-pills-wishlist" aria-selected="false">
                            <span class="fa fa-heart"></span>
                            Wishlist <span class="badge bg-danger">9</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="#">
                            <span class="fas fa-sign-out-alt"></span>
                            Sign out
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="col-md-9 col-lg-10">
            <div class="tab-content profile-tab-content" id="v-pills-tabContent">
                <div class="tab-pane profile-tab fade show active" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
                    <p>
                        Hello Tamzid (not Tamzid? Log out)
                        <br /><br />
                        From your account dashboard you can view your recent orders, manage your shipping and billing addresses, <br /> and edit your password and account details.
                    </p>
                </div>

                <div class="tab-pane profile-tab fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab">

                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th scope="col">ORDER</th>
                                <th scope="col">DATE</th>
                                <th scope="col">STATUS</th>
                                <th scope="col" class="text-right">TOTAL</th>
                                <th scope="col" class="text-right">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < 6; i++)
                            {
                                <tr>
                                    <td class="text-right">
                                        #4839
                                    </td>
                                    <td class="text-right">
                                        July 5,2020
                                    </td>
                                    <td class="text-right">
                                        Processing
                                    </td>
                                    <td class="text-right">
                                        $ 210.00 for 1 item
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-warning">View</button>
                                            <button type="button" class="btn btn-warning">INVOICE</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane profile-tab fade" id="v-pills-addresses" role="tabpanel" aria-labelledby="v-pills-addresses-tab">
                    <div class="container-fluid">
                        <p>The following addresses will be used on the checkout page by default.</p>
                        <div class="row">
                            <div class="col">
                                <label class="form-label mt-3">City (leave blank to leave unchanged)</label>
                                <input class="form-control" type="text" placeholder="City" aria-label="City">
                            </div>
                            <div class="col">
                                <label class="form-label mt-3">State (leave blank to leave unchanged)</label>
                                <input class="form-control" type="text" placeholder="State" aria-label="State">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label mt-3">Zip (leave blank to leave unchanged)</label>
                                <input class="form-control" type="text" placeholder="Zip" aria-label="Zip">
                            </div>
                            <div class="col">
                                <label class="form-label mt-3">Country (leave blank to leave unchanged)</label>
                                <input class="form-control" type="text" placeholder="Country" aria-label="Country">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label mt-3">Billing Address (leave blank to leave unchanged)</label>
                                <input class="form-control" type="text" placeholder="Billing Address" aria-label="Billing Address">
                            </div>
                            <div class="col">
                                <label class="form-label mt-3">Shipping Address (leave blank to leave unchanged)</label>
                                <input class="form-control" type="text" placeholder="Shipping Address" aria-label="Shipping Address">
                            </div>
                        </div>
                        <a class="btn btn-warning mt-5">Save Changes</a>
                    </div>
                </div>
                <div class="tab-pane profile-tab fade" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">First name</label>
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                        </div>
                        <div class="col">
                            <label class="form-label">Last name</label>
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                        </div>
                    </div>
                    <label class="form-label mt-3">Display name</label>
                    <input type="text" class="form-control" placeholder="Display name" aria-label="Display name" readonly>
                    <p class="fst-italic">This will be how your name will be displayed in the account section and in reviews</p>
                    <div class="row">
                        <div class="col">
                            <label class="form-label mt-3">Email address</label>
                            <input type="email" class="form-control" placeholder="Email address" aria-label="Email address">
                        </div>
                        <div class="col">
                            <label class="form-label mt-3">Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" aria-label="Phone Number">
                        </div>
                    </div>
                    <h4 class="text-right mt-5">Password Change</h4>
                    <hr />
                    <label class="form-label mt-3">Current password (leave blank to leave unchanged)</label>
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password">
                    <label class="form-label mt-3">New password (leave blank to leave unchanged)</label>
                    <input type="password" class="form-control pass" placeholder="New Password" aria-label="New Password">
                    <p class="fst-italic text-danger pass-warning">Password Must be above 6 letters</p>
                    <label class="form-label mt-3">Confirm new password</label>
                    <input type="password" class="form-control confirm-pass" placeholder="Confirm New Password" aria-label="Confirm New Password">
                    <p class="fst-italic text-danger confirm-pass-warning">Password not matched. Check again!</p>
                    <a class="btn btn-warning mt-5">Save Changes</a>
                </div>
                <div class="tab-pane profile-tab fade" id="v-pills-wishlist" role="tabpanel" aria-labelledby="v-pills-wishlist-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Product's Name</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < 14; i++)
                            {

                                <tr>
                                    <th scope="row">Dummy Product</th>
                                    <th>
                                        <button class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </th>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>