@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<br />

<br>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#notifications" data-toggle="tab">Notifications</a></li>
                    <li><a href="#wishlist" data-toggle="tab">Wishlist</a></li>
                    <li><a href="#contact" data-toggle="tab">Contact</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <div class="">
                            <h1>Home Tab</h1>
                            <p>These lists are meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                        </div>
                    </div>
                    <div class="tab-pane" id="notifications">
                        <div class="">
                            <h1>Notifications Tab</h1>
                            <p></p>
                        </div>
                    </div>

                    <div class="tab-pane" id="wishlist">
                        <div class="">
                            <h1>Wishlist Tab</h1>
                            <table style="width:100%">
                                <tr>
                                    <th>Products</th>
                                    <th>Price</th>

                                </tr>
                                <tr>
                                    <td>Fruits</td>
                                    <td>70</td>
                                </tr>

                            </table>
                        </div>

                        <div class="tab-pane" id="contact">
                            <div class="">
                                <h1>Contact Tab</h1>
                                <p>Contant us at</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


