@model Bingol.Areas.Identity.Data.BingolUser
@{
    ViewData["Title"] = "Account";
}
<div class="container-fluid">
    <div class="row">
        <partial name="_PartialAdminNav.cshtml" />
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 profile-tab">
            @ViewBag.StatusMessage
            <form id="change-account-form" method="post" action="@Url.Action("OnPostAccountDataChange", "Dashboard")">
                <div class="row">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group">
                        <span class="input-group-text bg-success text-white"><span class="fa fa-user"></span></span>
                        <input asp-for="NormalizedUserName" class="form-control" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <div class="form-group">
                            <label class="form-label">First Name</label>
                            <input asp-for="UserFirstName" class="form-control" required/>
                            <span asp-validation-for="UserFirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="form-group">
                            <label class="form-label">Last Name</label>
                            <input asp-for="UserLastName" class="form-control" required/>
                            <span asp-validation-for="UserLastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input asp-for="Email" class="form-control" required/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" required/>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning mt-3">Update</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}