@model Bingol.Models.ChangePassword
@{ 
    ViewData["Title"] = "Change Password";
}
<div class="container-fluid">
    <div class="row">
        <partial name="_PartialAdminNav.cshtml" />
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 profile-tab">
            <form id="change-password-form" method="post" action="@Url.Action("OnPostPasswordChange", "Dashboard")">
                <div class="col mt-3">
                    <div class="form-group">
                        <label class="form-label" asp-for="CurrentPassword"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <div class="form-group">
                            <label class="form-label" asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" class="form-control" />
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="form-group">
                            <label class="form-label">Confirm Password</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning mt-3">Update</button>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}