@model Bingol.Models.Productcategory
@{
    ViewData["Title"] = "Update Category";
}

<div class="container-fluid">
    <div class="row">
        <partial name="_PartialAdminNav.cshtml" />
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 profile-tab">
            <form id="update-category-form" method="post" action="@Url.Action("OnPostUpdateCategoryDetails", "Dashboard")">
                <input asp-for="CategoryId" class="visually-hidden" />
                <div class="form-group">
                    <label class="form-label">Category Name</label>
                    <input asp-for="CategoryName" class="form-control" required />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-warning mt-3">Update Category</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}