@model Bingol.Models.Product

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductSku" class="control-label"></label>
                <input asp-for="ProductSku" class="form-control" />
                <span asp-validation-for="ProductSku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductWeight" class="control-label"></label>
                <input asp-for="ProductWeight" class="form-control" />
                <span asp-validation-for="ProductWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCartDesc" class="control-label"></label>
                <input asp-for="ProductCartDesc" class="form-control" />
                <span asp-validation-for="ProductCartDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductShortDesc" class="control-label"></label>
                <input asp-for="ProductShortDesc" class="form-control" />
                <span asp-validation-for="ProductShortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLongDesc" class="control-label"></label>
                <input asp-for="ProductLongDesc" class="form-control" />
                <span asp-validation-for="ProductLongDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductThumb" class="control-label"></label>
                <input asp-for="ProductThumb" class="form-control" />
                <span asp-validation-for="ProductThumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label"></label>
                <input asp-for="ProductImage" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategoryId" class="control-label"></label>
                <select asp-for="ProductCategoryId" class="form-control" asp-items="ViewBag.ProductCategoryId"></select>
                <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUpdateDate" class="control-label"></label>
                <input asp-for="ProductUpdateDate" class="form-control" />
                <span asp-validation-for="ProductUpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductStock" class="control-label"></label>
                <input asp-for="ProductStock" class="form-control" />
                <span asp-validation-for="ProductStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLive" class="control-label"></label>
                <input asp-for="ProductLive" class="form-control" />
                <span asp-validation-for="ProductLive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUnlimited" class="control-label"></label>
                <input asp-for="ProductUnlimited" class="form-control" />
                <span asp-validation-for="ProductUnlimited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLocation" class="control-label"></label>
                <input asp-for="ProductLocation" class="form-control" />
                <span asp-validation-for="ProductLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
