@page
@model OrdersModel
@{
    ViewData["Title"] = "Orders";
    ViewData["ActivePage"] = ManageNavPages.Orders;
}
<table class="table table-striped ">
    <thead class="bg-dark text-white">
        <tr>
            <th scope="col" class="text-center">ORDER</th>
            <th scope="col" class="text-center">DATE</th>
            <th scope="col" class="text-center">TOTAL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in ViewData["OrderList"] as IList<Order>)
        {
            <tr>
                <td class="text-center">
                    # @Html.DisplayFor(modelItem => obj.OrderId)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => obj.OrderDate)
                </td>
                <td class="text-center">
                    BDT @Html.DisplayFor(modelItem => (obj.Orderdetails.SingleOrDefault().DetailQuantity * obj.Orderdetails.SingleOrDefault().DetailPrice)) for @Html.DisplayFor(modelItem => obj.Orderdetails.SingleOrDefault().DetailQuantity) item
                </td>
            </tr>
        }
    </tbody>
</table>