@page
@model OrdersModel
@{
    ViewData["Title"] = "Orders";
    ViewData["ActivePage"] = ManageNavPages.Orders;
}
<table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col" class="text-center">ORDER</th>
            <th scope="col" class="text-center">DATE</th>
            <th scope="col" class="text-center">TOTAL</th>
            <th scope="col" class="text-center">ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < 6; i++)
        {
            <tr>
                <td class="text-center">
                    #4839
                </td>
                <td class="text-center">
                    July 5,2020
                </td>
                <td class="text-center">
                    BDT 210.00 for 1 item
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-warning">Invoice</button>
                </td>
            </tr>
        }
    </tbody>
</table>