@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Account Details";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col">
                <label class="form-label">First name</label>
                <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
                <label class="form-label">Last name</label>
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
        </div>
        <label class="form-label mt-3">Display name</label>
        <input type="text" class="form-control" placeholder="Display name" aria-label="Display name" readonly>
        <p class="fst-italic">This will be how your name will be displayed in the account section and in reviews</p>
        <div class="row">
            <div class="col">
                <label class="form-label mt-3">Email address</label>
                <input type="email" class="form-control" placeholder="Email address" aria-label="Email address">
            </div>
            <div class="col">
                <label class="form-label mt-3">Phone Number</label>
                <input type="tel" class="form-control" placeholder="Phone Number" aria-label="Phone Number">
            </div>
        </div>
        <a class="btn btn-warning mt-5">Save Changes</a>
    </form>
    <form>
        <h4 class="text-right mt-5">Password Change</h4>
        <hr />
        <label class="form-label mt-3">Current password (leave blank to leave unchanged)</label>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password">
        <label class="form-label mt-3">New password (leave blank to leave unchanged)</label>
        <input type="password" class="form-control pass" placeholder="New Password" aria-label="New Password">
        <p class="fst-italic text-danger pass-warning">Password Must be above 6 letters</p>
        <label class="form-label mt-3">Confirm new password</label>
        <input type="password" class="form-control confirm-pass" placeholder="Confirm New Password" aria-label="Confirm New Password">
        <p class="fst-italic text-danger confirm-pass-warning">Password not matched. Check again!</p>
        <a class="btn btn-warning mt-5">Save Changes</a>
    </form>
    <p class="mt-3">Your account contains personal data that you have given us. This page allows you to modify, download or delete that data.</p>
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
    <div class="mt-1 d-flex justify-content-md-start">
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group me-4">
            <button class="btn btn-warning" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
