@page
@model WishlistModel
@{
    ViewData["Title"] = "Wishlist";
    ViewData["ActivePage"] = ManageNavPages.Wishlist;
}

<table class="table table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th scope="col">Product's Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in ViewData["Wishlist"] as IList<Wishlist>)
        {

            <tr>
                <th scope="row">@obj.WishlistProduct.ProductName</th>
                <th>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" class="visually-hidden" name="id" value="@obj.WishlistId"/>
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                    </form>
                </th>
            </tr>

        }
    </tbody>
</table>