@{
    ViewData["Title"] = "PRODUCT";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/fera.jpg" class="img-fluid" alt="fera">        
        </div>
        <div class="col-md-6 mt-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-muted" href="#">Products</a></li>
                    <li class="breadcrumb-item"><a class="text-muted" href="#">Dress</a></li>
                    <li class="breadcrumb-item active text-muted" aria-current="page">Jack &amp; Jones Royal Streched Shirt</li>
                </ol>
            </nav>
            <h3>Jack &amp; Jones Royal Streched Shirt</h3>
            <hr class="w-25" />
            <h4 class="fw-bold">$ 99.00</h4>
            <p class="text-info bg-gradient badge bg-dark">In Stock</p>
            <p class="text-danger bg-gradient badge bg-dark">Out of Stock</p>
            <div class="d-flex justify-content-around w-25">
                <input type="button" value="-" class="decreaseVal btn-outline-dark btn">
                <input type="number" min="1" max="22" value="20" class="val form-control text-center">
                <input type="button" value="+" class="increaseVal btn-outline-dark btn">
            </div>
            <div class="d-flex justify-content-start">
                <div>
                    <label class="form-label mt-3">Choose Size</label>
                    <select class="form-select product-dropdown" aria-label="option">
                        <option value="XS">XS</option>
                        <option value="SM">SM</option>
                        <option value="LG" selected>LG</option>
                        <option value="XXL">XXL</option>
                        <option value="XXXL">XXXL</option>
                    </select>
                </div>
                <div>
                    <label class="form-label mt-3 ms-3">Choose Color</label>
                    <select class="form-select ms-3 product-dropdown" aria-label="option">
                        <option value="XS">Green</option>
                        <option value="SM">Black</option>
                        <option value="LG" selected>Blue</option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <button class="btn bg-gradient btn-warning btn-lg mt-4 me-4 product-buttons">Buy<span class="fa fa-shopping-bag ms-3"></span></button>
                <button class="btn bg-gradient btn-danger btn-lg mt-4 product-buttons">Wishlist <span class="fa fa-heart ms-3"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <h4>Share this Product</h4>
    <div class="addthis_inline_share_toolbox mb-3"></div>
    <nav>
        <div class="nav nav-tabs bg-dark" id="nav-tab" role="tablist">
            <a class="nav-link text-uppercase text-warning active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Description</a>
            <a class="nav-link text-uppercase text-warning" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-additional-info" role="tab" aria-controls="nav-additional-info" aria-selected="false">Additional information</a>
            <a class="nav-link text-uppercase text-warning" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</a>
        </div>
    </nav>
    <div class="tab-content mt-5" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
            <p class="text-md-start">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="tab-pane fade" id="nav-additional-info" role="tabpanel" aria-labelledby="nav-additional-info-tab">
            <p class="text-md-start fw-bold">
                <button class="btn btn-warning text-white me-3 product-buttons" disabled>Size</button>
                01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16, 17
            </p>
            <p class="text-md-start fw-bold">
                <button class="btn btn-warning text-white me-3 product-buttons" disabled>Color</button>
                Green, Black, Blue
            </p>
        </div>
        <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
            <h3 class="form-label mb-3">Leave a review</h3>
            <input type="radio" class="btn-check" autocomplete="off" name="review-rating">
            <label class="btn btn-warning">Better</label>

            <input type="radio" class="btn-check" autocomplete="off" name="review-rating">
            <label class="btn btn-warning">Best</label>

            <input type="radio" class="btn-check" autocomplete="off" name="review-rating">
            <label class="btn btn-warning">Good</label>

            <input type="radio" class="btn-check" autocomplete="off" name="review-rating">
            <label class="btn btn-warning">Not Good</label>

            <textarea class="form-control mt-3" rows="6" placeholder="Write anything about this product"></textarea>
            <button class="btn btn-warning text-white btn-lg w-100 mt-4">Post a review <span class="fa fa-comment ms-3"></span></button>
            @for (var i = 0; i < 5; i++)
            {
                <div class="card m-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Jhon Doe</h3>
                            <button class="btn btn-info text-light">Best</button>
                        </div>
                        <p class="card-text text-md-start">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container mt-5">
    <h5>SIMILAR PRODUCTS</h5>
    <div class="row">
        <div class="owl-carousel owl-theme">
            @for (var i = 0; i < 14; i++)
            {

                <a class="text-decoration-none" asp-area="" asp-controller="Products" asp-action="Product">
                    <div class="card product-card-owl">
                        <div class="d-flex justify-content-between align-items-start card-header product-header" style="background-image: url(/images/fera.jpg)">
                            <div class="btn btn-info fw-bolder text-white">-25%</div>
                            <span class="fa fa-heart text-danger fa-2x text-decoration-none"></span>
                        </div>

                        <div class="card-body">
                            <h5 class="text-decoration-none text-dark">Jack &amp; Jones Royal Streched Shirt</h5>
                            <p class="card-text text-muted">Black, Yellow, Navy Blue</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="fw-bold text-decoration-none text-dark">$ 99.00</h5>
                                <div class="btn btn-warning bg-gradient">Buy<span class="fa fa-shopping-bag ms-3"></span></div>
                            </div>
                        </div>
                    </div>
                </a>

            }
        </div>
    </div>
</div>


<div class="container mt-5">
    <h5>MORE VARIENT PRODUCTS</h5>
    <div class="row">
        <div class="owl-carousel owl-theme">
            @for (var i = 0; i < 14; i++)
            {

                <a class="text-decoration-none" asp-area="" asp-controller="Products" asp-action="Product">
                    <div class="card product-card-owl">
                        <div class="d-flex justify-content-between align-items-start card-header product-header" style="background-image: url(/images/jaspereology.jpg)">
                            <div class="btn btn-info fw-bolder text-white">-25%</div>
                            <span class="fa fa-heart text-danger fa-2x text-decoration-none"></span>
                        </div>

                        <div class="card-body">
                            <h5 class="text-decoration-none text-dark">Jack &amp; Jones Royal Streched Shirt</h5>
                            <p class="card-text text-muted">Black, Yellow, Navy Blue</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="fw-bold text-decoration-none text-dark">$ 99.00</h5>
                                <div class="btn btn-warning bg-gradient">Buy<span class="fa fa-shopping-bag ms-3"></span></div>
                            </div>
                        </div>
                    </div>
                </a>

            }
        </div>
    </div>
</div>